body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 40px;
}

.bank {
  background: #1e293b;
  padding: 20px;
  width: 300px;
  margin: auto;
  border-radius: 10px;
}

button {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
